<!doctype html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css" />

<body>
    <div class="uk-container" style="
                margin-top: 10px;
                margin-bottom: 25px;
                max-width: 980px;
                min-height: 320px;
            ">
        <p style="color: black">
            Dear <%= recipient.title %>
                <%= recipient.first_name %>
                    <%= recipient.last_name %>,
        </p>
        <p style="color: black">
            We are glad to inform that your paper with submission number
            <%= submission.local_id %> <strong>(<%= submission.title %>)</strong> has been
                accepted by Program Committee for <strong>
                    <%= submission.presentation_format %>
                </strong> presentation at
                <strong>
                    <%= submission.topic.name %>
                </strong> Technical Session. <br />
                Please pay attention on further instructions below.
        </p>
        <p style="color: black">
            <strong>1. Please confirm or withdraw</strong> your presentation at the Technical Session. To update the
            status, please go to
            the ConfChair <a href="https://www.confchair.com/author">Author
                profile</a>, click the “magnifier” button in the table with your submission and then press
            <span style="color:green">Confirm</span> or <span style="color:red">Withdraw</span> button on the submission
            page. The
            Abstracts
            for which the status will not been updated by
            <strong>
                <%= conference.confirmation_deadline %> (Moscow Time, GMT+3)
            </strong>
            will be
            removed from the <%= conference.short_name %> Technical
                Program and the presentation slot will be transferred to a back-up abstract.
        </p>
        <p style="color: black">
            <strong>2. Upload Manager</strong> for uploading presentation and
            full manuscript is now available on the
            <a href="<%= submission.link %>">submission page</a>. To access the submission the author must be
            logged in to the ConfChair account.
            (<a href="https://confchair.org">confchair.org</a>).
        </p>

        <p style="color: black">
            <strong>Slides</strong> for presentations should be uploaded <strong>not later than
                <%= conference.presentation_deadline %> (Moscow Time, GMT+3)
            </strong> to avoid any
            difficulties and delays with opening the slides during technical sessions. During the technical session each
            presenter will be given 15 minutes (10 min for a report and 3-5 minutes for Q&A). Preliminary Technical
            Program
            is available in the Program section of the Forum web-site. Final Program will be updated not later than
            November 22.
        </p>
        <p style="color: black">
            We invite authors to upload <strong>full manuscripts</strong> before the above mentioned date as well. But
            since there is not
            much time left before the Forum, it is also possible to provide the manuscript after the Forum <strong> not
                later than
                <%= conference.manuscript_deadline %> (Moscow Time, GMT+3)
            </strong> . Manuscript template with format guidelines available for
            download by
            the following <a href="https://spaceflightmechanics.com/downloads/manuscript_template.docx">link</a> and
            could be found in Submit section of the Forum web-site. Manuscripts
            should not exceed
            20 pages.
        </p>
        <p>
            <strong>3.</strong> All categories of participants need to register to the Forum using the form in the
            Register section on the
            Forum web-site. <strong>We encourage Russian participants to attend the Forum On-sight.</strong>
        </p>
        <p>
            <strong>To join the Forum online</strong> the participant should go to the Zoom registration form by the
            following link: <br>
            https://us06web.zoom.us/meeting/register/tZwsceisqz0rEtftu1C2sApjh5viXgKoNmdK <br>
            (if the link doesn’t work on not clickable, please copy and paste it to the browser directly)

        </p>
        <p>To register the participant should indicate his name, surname and email. The direct connection link will be
            sent
            on the indicated email. This link is valid for all three days of the Forum and leads to the main hall (Hall
            Galaxy), where Opening Ceremony, Plenary Sessions and Highlight Lectures will take place.
        </p>

        <p> To attend Parallel Technical Sessions on Tuesday and Wednesday participant, being connected to Zoom
            conference,
            should go the menu below and click on the Zoom Breakout Rooms icon and choose one of the Technical Sessions
            Halls according to the Technical Program.
        </p>

        <p>For the best experience it is strongly recommended to use Zoom desktop or mobile application and install all
            the
            latest updates.
        </p>

        <p style="color: black">
            Thank you very much for your attendance in the <%= conference.short_name %>.
        </p>
        <p>
            If you have any questions, please address them to the Local Organizing Committee: <br>
            <%= conference.email %>.<br>
                Forum web-site:<br>
                <%= conference.site_url %><br>
        </p>
        <p style="color: black">
            Best Regards,<br />
            ConfChair Team<br />
            support@confchair.org
        </p>
    </div>
</body>
<style>
    table td:last-child {
        padding-left: 20px !important;
    }

    table {
        border-collapse: collapse;
    }

    table td,
    table th {
        border: 1px solid black;
    }
</style>

</html>