<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css" />

<body>
    <div class="uk-container" style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  ">

        <h3 style="color: #0056a6">Submission <%= local_id %> for <%= conference_short_name %> has been created</h3>
        <p style="color: black">Dear <%= corresponding_title %>
                <%= first_name %>
                    <%= last_name %>, </p>
        <p style="color: black">Thank you for submitting your abstract to the <%= conference_name %>. Please find
                below
                your abstract details:</p>
        <h3 style="color: #0056a6">Abstract Details</h3>
        <table class="uk-table uk-table-striped">
            <tbody>
                <tr>
                    <td>Paper Title</td>
                    <td>
                        <%= title %>
                    </td>
                </tr>
                <tr>
                    <td>Paper Number</td>
                    <td>
                        <%= local_id %>
                    </td>
                </tr>

                <tr>
                    <td>Presentation Format</td>
                    <td>
                        <%= presentation_format %>
                    </td>
                </tr>
                <tr>
                    <td>Submission Topic</td>
                    <td>
                        <%= topic %>
                    </td>
                </tr>
                <tr>
                    <td>Authors</td>
                    <td>
                        <% authors.forEach(function(author){ %>
                            <%= author.title %>
                                <%= author.last_name %>
                                    <% if (author.is_presenter){ %>
                                        presenter
                                        <% } %>
                                            <%=author.affiliation %>,
                                                <%= author.country %>

                                                    <% }); %>
                    </td>

                </tr>
            </tbody>
        </table>
        <p style="color: black">In case the above mentioned details are not correct, please access <a target="_blank"
                href="http://confchair.org/submission/<%= submission_id %>">Submission Page</a> and update your
            abstract.</p>
        <p style="color: black">Please note, that abstract details update available during 48 hours after submission
            before the review process starts.</p>

        <p style="color: black">If you have any questions, please contact <%= conference_short_name %> Program
                Committee (<%= conference_email %>).
        </p>
        <p style="color: black">We look forward to see you at <b>
                <%= conference_name %>
            </b>.</p>
        <p style="color: black">Best Regards,<br>ConfChair Team <br> support@confchair.org </p>


    </div>
</body>


</html>