<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css" />

<body>
    <div class="uk-container" style="
    margin-top: 10px;
    margin-bottom: 25px;
    max-width: 980px;
    min-height: 320px;
  ">

        <h3 style="color: #0056a6">Abstract Submission Confirmation</h3>
        <p style="color: black">Dear <%= title %>
                <%= first_name %>
                    <%= last_name %>, </p>
        <p style="color: black">To recover your password please click
            <a target="_blank" href="<%= link %>">
                here
            </a>
        </p>
        <p style="color: black">Best Regards,<br>ConfChair Team <br> support@confchair.org </p>


    </div>
</body>


</html>