@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #D93526;
    --red-hover: #9a251a;
    --orange: #c09b5c;
    --green: #16a34a;
    --green-hover: #139844;
}

input:not([type=submit],
    [type=button],
    [type=reset],
    [type=checkbox],
    [type=radio],
    [type=file],
    [type=textarea]),
:where(select),
select {
    padding: 10px !important;
    height: 50px !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    margin: 0
}

textarea {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    margin: 0
}

input[type=radio],
input[type=checkbox] {
    height: 20px !important;
    width: 20px !important;
}

.primary-button-hover:hover {
    background-color: var(--pico-primary);
    color: #fff;
}

button,
[role=button],
[type=button] {
    min-width: 10rem;
}

.icon-button {
    display: block;
    cursor: pointer;
}

.icon-button>svg {
    stroke: var(--pico-primary);
}

.bare-button {
    background-color: unset;
    color: var(--pico-primary);
    border: none;
    min-width: fit-content;
    width: fit-content;
    padding: 0;
}

.icon-button:hover>svg {
    stroke: var(--pico-primary-hover);
}

.button-red {
    background-color: var(--red);
    border-color: var(--red) !important;
}

.button-red:hover {
    background-color: var(--red-hover);
    border-color: var(--red-hover) !important;
}

.button-red.outline {
    background-color: transparent;
    color: var(--red)
}


.button-green {
    background-color: var(--green);
    border-color: var(--green) !important;
}

.button-green:hover {
    background-color: var(--green-hover);
    border-color: var(--green-hover) !important;
}

.button-green.outline:hover {
    background-color: var(--green-hover);
    color: white
}

.button-green.outline {
    background-color: transparent;
    color: var(--green)
}

.required_star {
    color: var(--red)
}

.button-red.outline:hover {
    background-color: var(--red-hover);
    color: white
}

th>* {
    background-color: transparent;
    color: var(--pico-primary);
    border: none;
}

th.centered {
    flex-direction: row;
    text-align: center;
}

th>.sortable {
    cursor: pointer;
    user-select: none;

}

th:hover>.sortable {
    color: var(--pico-primary-hover)
}

th>.bare-button.sortable {
    width: 100%;

}

details summary {
    color: var(--pico-primary) !important;
}

.link {
    color: var(--pico-primary);
    text-decoration: none;
}

.link:hover {
    color: var(--pico-primary-hover);
    text-decoration: underline;
    cursor: pointer;
}



.small-table * {
    font-size: 16px !important;
}

.small-table td {
    padding: 5px !important;
}


.small-table>thead * {
    padding: 5px !important;
}





.tooltiped::before {
    width: 700px !important;
    max-width: 100vw !important;
    white-space: unset !important;
    text-overflow: unset !important;
    overflow: unset !important;
}

.tooltiped {
    text-decoration: none !important;
    border: 0 !important;
    --pico-tooltip-background-color: #0172ad;
}

.tooltiped.icon-button>svg {
    margin-bottom: 5px;
}

.tooltiped.icon-button:hover>svg {
    stroke: var(--red-hover);
}