@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --red: #D93526;
    --red-hover: #9a251a;
}

input:not([type=submit],
    [type=button],
    [type=reset],
    [type=checkbox],
    [type=radio],
    [type=file],
    [type=textarea]),
:where(select),
select {
    padding: 10px !important;
    height: 50px !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    margin: 0
}

textarea {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    margin: 0
}

input[type=radio],
input[type=checkbox] {
    height: 20px !important;
    width: 20px !important;
}

.primary-button-hover:hover {
    background-color: var(--pico-primary);
    color: #fff;
}

.icon-button {
    display: block;
    cursor: pointer;
}

.icon-button>svg {
    stroke: var(--pico-primary);
}

.icon-button:hover>svg {
    stroke: var(--pico-primary-hover);
}

.button-red {
    background-color: var(--red);
    border-color: var(--red);
}

.button-red:hover {
    background-color: var(--red-hover);
    border-color: var(--red-hover);
}

.button-red.outline {
    background-color: transparent;
    color: var(--red)
}

.required_star {
    color: var(--red)
}

.button-red.outline:hover {
    background-color: var(--red-hover);
    color: white
}

th>button {
    background-color: transparent;
    color: var(--pico-primary);
    border: none;
    padding: 0;
}